@font-face {
    font-family: "Fontawesome";
    src: url(/assets/icons/webfonts/fa-solid-900.ttf), url(/assets/icons/webfonts/fa-solid-900.woff2);
}

:root {
    --bg-color: #000;
    --color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
}

#nav-btn {
    display: none;
}

#nav-btn:checked ~ label::after {
    content: "\f00d";
}

#nav-btn:checked ~ #navigation {
    display: block;
}

nav label::after {
    content: "\f0c9";
    font-family: "Fontawesome";
    font-size: x-large;
}

#navigation {
    list-style-type: none;
    display: none;
    position: absolute;
    background: #000;
    padding-left: 0;
    padding: .75rem;
    margin: 0;
}

#navigation a {
    text-decoration: none;
    color: #fff;
}