@font-face {
    font-family: "Fa Solid";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src:
        url(/assets/icons/webfonts/fa-solid-900.ttf) format("truetype"),
        url(/assets/icons/webfonts/fa-solid-900.woff2) format("woff2");
}

:root {
    --bg-color: #000;
    --color: #fff;
    --default-font: Tahoma;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font), Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
    background: #2E073F;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

nav {
    position: relative;
    padding: .5rem;
    width: 100%;
}

#nav-btn {
    display: none;
}

nav>label::after {
    content: "\f0c9";
    font-family: "Fa Solid";
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    padding: .25rem;
    color: #fff;
    font-size: x-large;
}

#navigation {
    list-style-type: none;
    display: none;
    position: absolute;
    background: #EBD3F8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    padding-left: 0;
    padding: .75rem;
    margin: 0;
    z-index: 1;
}

#navigation span>a {
    text-decoration: none;
    color: #000;
}

#navigation span>a:hover {
    color: purple;
}

#nav-btn:checked~label::after {
    content: "\f00d";
}

#nav-btn:checked~#navigation {
    display: block;
}

#navigation li span>.dropdown {
    position: relative;
    display: inline-block;
}

#navigation li span>.dropdown>.dropdown-menu {
    background: #a020f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    display: none;
    position: absolute;
    padding: .75rem;
    top: calc(100% + .25rem);
    z-index: 2;
}

#navigation li span>.dropdown>.dropdown-menu>a {
    text-decoration: none;
    color: #fff;
}

#dropdown-btn {
    display: none;
}

#dropdown-btn:checked~.dropdown>.dropdown-menu {
    display: flex;
    flex-direction: column;
}

#navigation li>span>label+i {
    transition: transform .1s ease-out, opacity .1s ease-in-out;
}

#dropdown-btn:checked~label+i {
    transform:translateY(25%);
    opacity: .5;
}

#dropdown-btn + label {
    color: #000;
}

#dropdown-btn + label:hover {
    color: purple;
}

#banner {
    background: #000;
}

#banner > h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 14vw;
}

@media only screen and (width >=768px) {
    nav {
        position: unset;
    }

    nav>label {
        display: none;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: unset;
        gap: .75rem;
        background: none;
        box-shadow: none;
    }

    #navigation li>span>i[class*="fa"] {
        color: #fff;
    }

    #navigation span i {
        display: inline-block;
    }

    #navigation span {
        position: relative;
        display: block;
    }

    #navigation li>span>a {
        color: #fff;
        transition: color .1s ease-out;
    }

    #navigation span>a::before {
        content: "";
        width: 0;
        height: 4px;
        background: #EBD3F8;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: width .1s ease-out;
    }

    #navigation span>a:hover {
        color: #ffff00;
    }

    #navigation a:hover::before {
        width: 100%;
    }

    #nav-btn:checked~#navigation {
        display: flex;
    }

    #navigation li>span>label {
        color: #fff;
    }

    #navigation li>span>label:hover {
        color: yellow;
    }

    #navigation li span>.dropdown {
        display: block;
    }
}

@media only screen and (width >=992px) {
    #navigation {
        justify-content: flex-end;
    }
}