* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: max-content auto min-content;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: 
    "back title";
    align-items: center;
    background-color: #E2DAD6;
    padding: .5rem;
    gap: 5px;
}

#back-btn {
    grid-area: back;
}

#back-btn>a {
    text-decoration: none;
    color: #000;
    transition: color .1s linear;
}

#back-btn>a>i {
    transition: transform .1s linear;
}

#back-btn>a:hover {
    color: purple;
}

#back-btn>a:hover>i {
    transform: translateX(-2px);
}

#title {
    grid-area: title;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card img {
    width: 100%;
    max-width: 200px;
    padding: .5rem;
}

.description {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2DAD6;
    padding: 1rem;
    gap: 10px;
}

.pagination {
    display: flex;
    gap: 5px;
}

.pagination a {
    color: inherit;
    text-decoration: none;
    background-color: #fff;
    padding: .25rem;
}
.pagination a:hover {
    background-color: rgba(0, 0, 0, .2);
}

@media only screen and (width >= 576px) {
    #title {
        font-size: 32px;
    }

    .card {
        flex-direction: row;
        align-items: flex-start;
    }
}